
<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container justify-content-start">
    <a class="navbar-brand" href="/">JOBS-DOU-GRABBER</a>
    <form class="form-inline ">
      <button class="btn btn-outline-success mx-2" type="button" (click)="initGrab()" [disabled]="categories.length">INIT </button>
      <button class="btn btn-outline-success mx-2" type="button" (click)="grab()" [disabled]="!categories.length">GRABB</button>
  </form>
  </div>
</nav>

<main role="main" class="container">
  <div class="jumbotron">
    <h1>Hello, User!</h1>
    <p>add basic descriptions later ...</p>
  </div>



  <div class="row">
    <div class="col-sm" *ngIf="categories.length">
      <h3>Categories</h3>
      <table class="table table-sm">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">name/id</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let category of categories; let i = index">
          <td>{{i}}</td>
          <td>{{category}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm" *ngIf="companies.length">
      <h3>Companies</h3>
      <table class="table table-sm">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">id</th>
          <th scope="col">name</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let company of companies; let i = index">
          <td>{{i}}</td>
          <td>{{company.id}}</td>
          <td>{{company.name}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>




</main>

<div class="modal fade show progress-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" *ngIf="loading" >
  <div class="modal-dialog modal-dialog-centered justify-content-center ">
      <div class="loader"></div>
  </div>
</div>
