<main role="main" class="container">
  <div class="jumbotron">
    <h1>Hello, User!</h1>
    <p>add basic descriptions later ...</p>
  </div>

  <button class="btn btn-primary" (click)="initGrab()">Init grab</button>


  <div class="row">
    <div class="col-sm" *ngIf="categories.length">
      <h3>Categories</h3>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">name/id</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let category of categories; let i = index">
          <td>{{i}}</td>
          <td>{{category}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm" *ngIf="companies.length">
      <h3>Companies</h3>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">id</th>
          <th scope="col">name</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let company of companies; let i = index">
          <td>{{i}}</td>
          <td>{{company.id}}</td>
          <td>{{company.name}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>






</main>
